*{
	margin:0;
	padding:0;
}
/*画像*/
#pc img{
	width: 100px;
	height: 100px;
}
body{
text-align: center;
	font-size: 16px;
	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	font-weight: bold;
}

/*header*/

header{
height: 200px;
}

header,div,footer{
	position:relative;
}

header,footer,#main{
	width:1000px;
	margin:0 auto;
}

h1{
    position: absolute;
    top: 70px;
    left: 50px;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

nav{
	position:absolute;
	bottom: 10px;
	right: 40px;
}

a{
	color:#777777;
	text-decoration: none;
	content:"";
	list-style: none;
}

ul,li{
	content:"";
	/*これなんだっけ？*/
	list-style: none;
}

ul{
	display: inline;
}

li{
	display: inline-block;
	padding: 10px;
}

/*mainVisual*/


/*service*/
#service section{
	display:inline-block;
	width: 30%;
}

section{
    margin-bottom: 10px;
}

#blog{
	margin-bottom: 100px;
}


/*works*/
#works li{
	width: 30%;
}


/*blog*/

section #bl{
   display:inline-block;
   width: 30%;
}


/* img */
img{
	width: 200px;
	/* height: 200px; */
}

@media screen and (max-width: 800px){
	/*css 800px 以下のとき*/
	header,body,footer,div,nav,a,li,ul{width:90%;}
}