*{
	margin:0;
	padding:0;
}
body{
	text-align: center;
	font-size: 16px;
	color: #555555;
	font-family: "Sawarabi Mincho", 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	font-weight: bold;
	width: 100%;
}
/*header*/
header{
	height: 200px;
}
header,div,footer{
	position:relative;
}
header,footer,#main{
	width:1000px;
	margin:0 auto;
}
h1{
    position: absolute;
    top: 70px;
    left: 50px;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
a{
	color:#777777;
	text-decoration: none;
	content:"";
	list-style: none;
}
/*skill*/
.ttl{
	margin: 0 0 10px;
    font-size: 40px;
    text-align: center;
}
section{
    margin-bottom: 70px;
}
.text01{
	width: 50%;
	margin-left:250px; 
}
.text01,.tx{
	color: #777777;
}
.icon .material-icons{
	font-size: 150px;
	padding: 20px 0;
}
/*contact*/
input[type="text"],
input[type="address"],
input[type="telephone"],
textarea,
input[type="submit"]{
	padding: 10px;
    font-size: 16px;
    border: solid 1px #cccccc;
    width: 300px;
}
textarea{
	max-width:300px;
	min-width:300px;
	min-height:100px; 
}
p[class^="err"]{
	color:#ff4500;
	margin: 0 0 20px;
}

form p{
	font-size: 20px;
}
input[type="submit"]{
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 20px;
}
input[type="submit"]:hover{
	background-color:#87ceeb;
	cursor: pointer;
}
/* img */
img{
	width: 250px;
	height: 250px;
}
img.ph{
	width: 1000px;
	height: 500px;
}
img.ic{
	width: 100px;
	height: 100px;
}
/* footer */
#copyright{
	text-align: right;
}
/*--------------------------------------------------------*/
@media screen and (max-width: 800px){
	header,footer,#main,img.ph,.three-co{
		width: 100%;
	}
	nav,ul,li,section,div,.three-co{
		display: block;
	}
	/*header*/
	#logo{
		width:100%;
		top: 0;
		left: 0;
		right: 0;
		position: relative;
	}
    /*skill*/
    p.text01,p.tx{
    	padding: 20px;
    	text-align: left;
    }
    /*works*/
    #works li{
    	width: 100%;
    	padding: 0;
    	margin-top: 10px;
    }
	/* img */
	/* footer */
}