*{
	margin:0;
	padding:0;
}
body{
	text-align: center;
	font-size: 16px;
	color: #555555;
	font-family: "Sawarabi Mincho", 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	font-weight: bold;
	width: 100%;
}
/*header*/
header{
	height: 200px;
}
header,div,footer{
	position:relative;
}
header,footer,#main{
	width:1000px;
	margin:0 auto;
}
h1{
    position: absolute;
    top: 70px;
    left: 50px;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
nav{
	bottom: 10px;
	right: 40px;
}
.toptag{
	position:absolute;
	right:0;
}
nav > ul > a{
	padding: 5px 30px;
}
nav > ul > a:hover{
	color: #0000ff;
	border: 1px solid #0000ff;
}
a{
	color:#777777;
	text-decoration: none;
	content:"";
	list-style: none;
}
ul,li{
	content:"";
	list-style: none;
}
ul{
	display: inline;
}
li{
	display: inline-block;
	padding: 10px;
}
/*mainVisual*/
/*skill*/
.ttl{
	margin: 0 0 10px;
    font-size: 40px;
    text-align: center;
}
.three-co{
	display:table-cell;
	width: 30%;
}
section{
    margin-bottom: 10px;
}
.text01{
	text-align: left;
}
.text01,.tx{
	color: #777777;
}

.icon .material-icons{
	font-size: 150px;
	padding: 20px 0;
}
/*works*/
#works li{
	width: 30%;
}
ul.worksList > li > a > img{
	height: auto;
}
/*blog*/
#blog{
	margin-bottom: 100px;
}
section #bl{
   display:table-cell;
   width: 30%;
}
.tx{
	text-align: left;
}
.more-div{
	width: 100%;
}
.more{
	background-color:#d3d3d3;
	padding:5px;
	color:#ffa500;
	border:#fafad2;
	border-radius:5px;   
	position:relative;
	left: 100px;
	bottom: 10px;
}
.more:hover{color: #006400;}
.more:active{color: #0000ff;}
section.three-co>li{
	width: 250px;
	height: 175px;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden; 
	padding: 0;
}
section.three-co>li>img{
  max-width: 250px;
  max-height: 175px;
  -ms-interpolation-mode: bicubic;
}
section.three-co>li:hover>h3{
	width: 250px;
	height: 115px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	opacity: 1;
	color: #fff;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 30px;
	padding-left: 85px;
	transition: opacity 0.5s ease;
}
section.three-co>li>h3{
	opacity: 0;
}
/*contact*/
input[type="text"],
input[type="email"],
input[type="telephone"],
textarea,
input[type="submit"]{
	padding: 10px;
    font-size: 16px;
    border: solid 1px #cccccc;
    width: 300px;
}
textarea{
	max-width:300px;
	min-width:300px;
	min-height:100px; 
}
p[class^="err"]{
	color:#ff4500;
	margin: 0 0 20px;
}

form p{
	font-size: 20px;
}
input[type="submit"]{
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 20px;
}
input[type="submit"]:hover{
	background-color:#87ceeb;
	cursor: pointer;
}
/* img */
img{
	width: 250px;
	height: 250px;
}
img.ph{
	width: 1000px;
	height: 500px;
}
img.ic{
	width: 100px;
	height: 100px;
}
/* footer */
.footer{
	text-align:left;
	margin-left:30px;
}
#copyright{
	text-align: right;
}
/*--------------------------------------------------------*/
@media screen and (max-width: 800px){
	header,footer,#main,img.ph,.three-co{
		width: 100%;
	}
	nav,ul,li,section,div,.three-co{
		display: block;
	}
	/*header*/
	#logo{
		width:100%;
		top: 0;
		left: 0;
		right: 0;
		position: relative;
	}
	.toptag{
		width:100%;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
	}
	.toptag ul{
		width:100%;
	}
	.toptag ul li,.footer ul li{
		width:48%;
		float: left;
		padding:10px 0;
		font-size: 20px;
		border:solid #f5f5f5;
	}
	/*mainVisual*/
    /*skill*/
    p.text01,p.tx{
    	padding: 20px;
    	text-align: left;
    }
    /*works*/
    #works li{
    	width: 100%;
    	padding: 0;
    	margin-top: 10px;
    }
	/* img */
	/* footer */
	nav.footer{
		margin: 0;
		text-align: center;
	}
}